{
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "quotes": [1, "single"],
    "comma-dangle": [2,"never"],
    "strict": 0,
    "brace-style":  [2, "1tbs", { "allowSingleLine": false }],
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-underscore-dangle": 0,
    "no-unused-vars": [2,"all"],
    "no-undef": [2],
    "no-trailing-spaces": 0,
    "camelcase": 0,
    "no-alert": 0,
    "no-shadow": 0,
    "no-loop-func": 0,
    "yoda": 0,
    "no-use-before-define": 0,
    "no-extra-boolean-cast": 0,
    "keyword-spacing": ["error", {"before": true, "after": true, "overrides": {}}]
  },
  "globals": {
    "__DEV__": true,
    "Promise": true
  }
}
